<p id="notice"><%= notice %></p>

<h1>Tareas 18!!!</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= image_tag task.image %></td>
        <td><%= link_to 'Show', task, class: "btn btn-primary" %></td>
        <td><%= link_to 'Completado', donetasks_task_path(task), class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


